*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --bg: #fff;
  --text: #6b6375;
  --text-h: #08060d;
  --accent: #aa3bff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  /* Fonts */
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Consolas, monospace;

  /* Modular font size scale (Major 3rd / 1.25) */
  --font-size-xs: 0.64rem; /* 10px */
  --font-size-sm: 0.8rem; /* 13px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.563rem; /* 25px */
  --font-size-2xl: 1.953rem; /* 31px */
  --font-size-3xl: 2.441rem; /* 39px */
  --font-size-4xl: 3.052rem; /* 49px */
  --font-size-5xl: 3.815rem; /* 61px */

  /* Basic page size */
  font-size: 100%; /* 1rem = 16px браузера по умолчанию */
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --accent: #c084fc;
    --border: #2e303a;
    --code-bg: #1f2028;
  }
}

/* Reset indents */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Headings with scale anchoring */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-h);
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: var(--font-size-5xl);
}
h2 {
  font-size: var(--font-size-4xl);
}
h3 {
  font-size: var(--font-size-3xl);
}
h4 {
  font-size: var(--font-size-2xl);
}
h5 {
  font-size: var(--font-size-xl);
}
h6 {
  font-size: var(--font-size-lg);
}
p {
  font-size: var(--font-size-base);
}

/* Small text */
small {
  font-size: var(--font-sm);
}

/* Code */
code {
  font-family: var(--font-mono);
  font-size: var(--font-sm);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  background-color: var(--code-bg);
  color: var(--text-h);
}
